:host {
    display: block;
    height: 90vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 23%, rgb(14, 4, 2) 77%, rgb(14, 0, 0) 100%);
    background-repeat: repeat-y;
}
.home-container{
    position: absolute;
    top: 7rem;
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manga-list-conteiner{
    height: 100%;
}
.manga-list{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}
@media screen and (max-width: 999px) {
    .home-container{
        top: 22rem;
    }
    .manga-list{
        grid-template-columns: repeat(4, 1fr)
    }
}
@media  screen and (max-width: 746px){
    .home-container{
        top: 33.5rem;
    }
    .manga-list{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media  screen and (max-width: 556px){
    .home-container{
        top: 45rem;
    }
    .manga-list{
        grid-template-columns: repeat(2, 1fr)
    }
}