<div class="page-container">
    <header></header>
    <div class="detail-container">
        <div class="image-container">
            <img src="{{ manga.urlImg }}" alt="">
           
        </div>
        <div class="detail-content">
            <div class="title">
                <h1>{{ manga.title }}</h1>
            </div>
            <div class="description-container">
                <p>{{ manga.description }}</p>
            </div>
            <div class="last-cap">
                <p>Último capítulo lido: </p>
                
                
                <span>{{ manga.numCap }}</span>
            </div>
        </div>
    </div>
    
</div>

