<div class="page-container">
    <header></header>
    <div class="detail-container">
        <div class="image-container">
            <img src="{{ manga.urlImg }}" alt="">
           
        </div>
        <div class="detail-content">
            <div class="title">
                <h1>{{ manga.title }}</h1>
            </div>
            <div class="description-container">
                <p>{{ manga.description }}</p>
            </div>
            <div class="last-cap">
                <p>Último capítulo lido: </p>
                <div class="cap-container">
                    <fa-icon class="more-icon" [icon]="faPlusSquare" style="font-size: 2rem;" (click)="more()"></fa-icon>
                    <span>{{ manga.numCap }}</span>
                    <fa-icon class="less-icon" [icon]="faMinusSquare" style="font-size: 2rem;" (click)="less()"></fa-icon>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

