*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe Ui';
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 23%, rgb(14, 4, 2) 77%, rgb(14, 0, 0) 100%);
    background-repeat: repeat-y;
}