<div class="card-container" [routerLink]="['manga/', titulo]">
    <div class="manga-img">
        <fa-icon class="delete-icon" [icon]="faTrash" style="font-size: 18px;" (click)="deleteManga()"></fa-icon>
        <img src="{{ cardImg }}" alt="">
    </div>
    <div class="titulo">
        <h1>{{titulo}}
        </h1>
    </div>
    <div class="capitulo">
        <span>Último capítulo Lido</span>
        <div class="capitulo-list">
            <span>Capitulo</span> 
            <span class="cap-number">{{numCap}}</span>
        </div>
        <div class="cap-data">
            <span>{{capDate}}</span>
        </div>
    </div>
</div>