.navbar-menu{
    display: flex;
    position: static;
    top: 0;
    z-index: 99;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 0 3rem rgb(0, 0, 0);
    background: #000000;
    color: white;
}

.main-menu-container{
    display: flex;
    justify-content: space-between;
    width: 63rem;
}
.menu-logo{
    display: flex;
    align-items: center;
    height: 5rem;
}

.menu-option{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.option{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.option-item {
    display: block;
    padding: 1rem 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    position: relative;
}
.option-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #b21b0e;
    transition: width 0.5s ease;
}

.option-item:hover {
    color: #b21b0e;
    cursor: pointer;
}

.option-item:hover::before {
    width: calc(100% - 20px);
}
.option-item-search{
    display: flex;
}
.icon-search{
    display: block;
    padding: 1rem;
    margin-right: 2rem;
    width: 2.5rem;
    font-size: 1.5rem;
    position: relative;
    padding: 0.2rem 0.5rem;
}


.icon-search:hover {
    color: #000000;
    border-radius: 50%;
    background-color: #b21b0e;
    cursor: pointer;
}

.subnav-container{
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 1rem;
    background-color: #730000;
}

.option-item-search > input{
    width: 20rem;
    height: 2.5rem;
    padding: 5px;
    margin-right: 5px;
    border-radius: 0 0 1rem  0;
    font-size: 1.5rem;
}

.option-item-search > input:focus {
    border-color: #f0351c; /* Substitua pela cor desejada */
    outline: none; /* Remove a borda azul padrão que alguns navegadores adicionam */
}


@media screen and (max-width: 999px) {
    .main-menu-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12rem;
    }
    
    .menu-option{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .option{
        flex-wrap: wrap;
        justify-content: center;
    }
    .option-item-search{
        margin: 0;
    }
    .option-item-search > input{
        width: 20rem;
       
    }
    .subnav-container{
        top: 12rem;
    }
    .menu-logo{
        height: 5rem;
    }
    .icon-search{
        margin: 0;
    }
}
@media screen and (max-width: 685px) {
    .main-menu-container{
        height: 11rem;
    }
    .icon-search{
        margin: 0;
    }
}
@media screen and (max-width: 329px) {
    .main-menu-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 18rem;
    }
    .menu-option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .option{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .option-item-search{
        margin: 0;
    }
    .option-item-search > input{
        width: 12rem;
       
    }
    .subnav-container{
        top: 18rem;
    }
    .icon-search{
        margin: 0;
    }
}